@{
 Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Party!</title>
    </head>
    <body>
        <div class="text-center" style="margin: 20% 0 20% 0;">
            <h2> We're going to have an exciting party!</h2>
            <h3>And YOU are invited!</h3>
            <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>